In [ ]:
l = ["a","b","c","d","e"]

In [ ]:
l

['a', 'b', 'c', 'd', 'e']

In [ ]:
for i in l:
    print(i)

a
b
c
d
e

In [ ]:
list(range(2,9,2))

[2, 4, 6, 8]

In [ ]:
list(range(-10,1,2))

[-10, -8, -6, -4, -2, 0]

In [ ]:
for s in range(2,21,2):  #Range of function
    print(s)

2
4
6
8
10
12
14
16
18
20

In [ ]:
fruits = ['apple', 'banana','cherry']
for i in fruits:
  print(i)

apple
banana
cherry

In [ ]:
for i in ("apple","banana","cherry"):
  print( i )

apple
banana
cherry

In [ ]:
for i in range(11):
  if i%2==0:
    print(i)

0
2
4
6
8
10

In [ ]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [ ]:
l = ["a","b",1234,12.4567,"prashu",[1,2,3]]

In [ ]:
for i in l:
    #print(i)
    if type(i)==str:
      print((i))

a
b
prashu

In [ ]:
ll = [1,2,3,"lkjhh","prashu","prashu","prashu",[4,5,6],(7,8,9)]

In [ ]:
for i in ll:
    if type(i)==int:
        print(i)

1
2
3

In [ ]:
ll = [1,2,3,"lkjhh","prashu","prashu","prashu",[4,5,6],(7,8,9)]
for i in ll:
    if type(i)==str:
        print(i)

lkjhh
prashu
prashu
prashu

In [ ]:
for i in ll:
    if type(i)==list:
        print(i)
    if type(i)==tuple:
        print(i)

[4, 5, 6]
(7, 8, 9)

In [ ]:
num = int(input("Enter a number: "))
for i in range(1,11):
  l=num*i
  print(f"{num}*{i}={l}")

Enter a number: 12
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120

In [ ]:
l7=eval(input("enter a list:"))
#print(l7)
for i in l7:
  print(i)

enter a list:'prashu'
p
r
a
s
h
u

In [ ]:
for i in range(7):
  for j in range(i+1):
    print("*",end =" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
for i in range(7):
  for j in range(7-i):
    print("*",end =" ")
  print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int (input("Enter the coloum: "))
for i in range(n):
  for j in range(i+1):
    print("*",end =" ")
  print()

Enter the coloum: 12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

In [ ]:

for i in range(1,n+1): #1 -----6
  if i==1 or i==n:
    print("*"*i)
  else:
    print("*"+" "*(i-2)+"*")

*
**
* *
****

In [ ]:
n = 3
for i in range(n, 0, -1):
  print(' ' * (n-i) +'* ' * i)

* * *
 * *
  *

In [ ]:
n = 5
for i in range(1,n+1):
  print(' '*(n-i)+'* ' *i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n =5
for i in range(1,n+1):
 print(' '*(1-n )+'* ' *i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5
for i in range(1,n+1):
  print(' '*(n-i)+'* ' *i)
for i in range(n, 0, -1):
  print(' ' * (n-i) +'* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n = 5
for i in range(1,n+1):
  if  i==5:
    print(' '*(n-i)+'* ' *i)
  print(' '*(n-i)+'* ' *i)
for i in range(n, 0, -1):
  print(' ' * (n-i) +'* ' * i)
  if i==1:
    break
else:
    for i in range(1,n- 1):
       print(' ' * (n-i) +'* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n = 5
for i in range(1,n+1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")

    *
   * *
  *   *
 *     *
*       *

In [ ]:
n = 5
for i in range(n,0,-1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")

*       *
 *     *
  *   *
   * *
    *

In [ ]:
n = 5
for i in range(1,n+1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")
for i in range(n,0,-1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
n = 5
for i in range(1,n+1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")
for i in range(n,0,-1):
  if  i==1:
    print((n-i)*" " +'*'*i)
  else:
    print((n-i)*" "+"*"+" "*(2*i-3)+"* ")

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *

In [ ]:

i=1
n= int(input("Enter a number: ")
while i<10:
  print(f""
  i=1+1

In [ ]:
import random

number_to_guess = random.randint(1,100)
guess = 0

while guess != number_to_guess:
    guess = int(input("Guess a number between 1 and 100: "))

if guess < number_to_guess:
    print("Too low!try again.")
elif guess > number_to_guess:
    print("Too high!try again.")
else:
    print("Congratulations! You guessed the number!")

Guess a number between 1 and 100: 25

In [ ]:
password = 1234
guess = int ("enter the password: ")
while guess != password:
 guess =int(input("enter the wrong: "))
guess = int(input("enter the password again: "))

In [ ]:
total = 10
for  i in range(1,11):
  total = total+i
  print(total)

11
13
16
20
25
31
38
46
55
65

In [ ]:
i = 10
while i<11:
  if i==3:
    break

  print(i)
  i-=1

10
9
8
7
6
5
4

In [1]:
i =10
while i>=1:
  i=i-1
  if i==3:
    continue
  print(i)

9
8
7
6
5
4
2
1
0

use the loop you print the num from 1 to 10 stop the loop if the number is 6

In [ ]:
i = 10
for i in range(1,11):
  if i==7:
    break
  print(i)

1
2
3
4
5
6